
@{
    ViewBag.Title = "UMOIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper" ng-controller="MasterController" ng-init="UMOInit();" cg-busy="{promise:myPromise,message:'Loading Your Data'}">
    <div class="content-header">
        <h4>UMO<a class="btn btn-info btn-sm pull-right" ng-click="UMOInit();"><i class="fa fa-plus" aria-hidden="true"></i> New UMO</a></h4>
    </div>
    <div class="content">
        <div class="box box-success">
            <div class="box-body">
                <div class="table-responsive">
                    <table ng-table="UMOListTable" class="table table-bordered table-hover table-condensed">
                            <tbody>
                                <tr ng-repeat="row in $data">
                                    <td data-title="'Sr.No.'">{{$index + 1}}</td>
                                    <td data-title="'Description'" filter="{ Description: 'text'}" sortable="'Description'">{{row.Description}}</td>                                   
                                    <td data-title="'ACTION'">
                                        <div class="btn-group btn-xs">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="#" ng-click="GetUMOById(row.UomId)">EDIT</a></li>
                                                <li><a href="#" ng-click="UMODelete(row.UomId)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>

        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" ng-model="umo.Description" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-success btn-sm" ng-click="UMOSave()">SUBMIT</a>
                        <a class="btn btn-default btn-sm" ng-click="UMOInit()">CANCEL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

